---

# This is a bit weird:
#
# - certbot needs nginx to be down to work (i.e: no port open on 80/443)
# - certbot automatically starts nginx after having generated certificates
#
# So we need to stop nginx, but not start it afterwards as it will
# fail. We ignore failures on stopped services in case we are messing
# around with nginx at the same time. This is a bit flaky.

- name: install dependencies
  apt:
    state: present
    pkg:
      - certbot
      - nginx
      - python3-certbot-nginx

- name: stopping nginx
  ignore_errors: yes
  ansible.builtin.systemd:
    name: nginx.service
    state: stopped
  
- name: create certificates
  command: certbot --agree-tos --nginx --keep-until-expiring --expand --email "{{ email_contact }}" -d "{{ websites|map(attribute='domain')|join(',') }}"
